body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#access-button {
    padding: 30px 30px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#access-button:hover {
    background-color: #45a049;
}
